body {
  font-family: 'Arvo', serif;
  background-color: #2f3947;
  color: #d7d7d7;
  font-size: 1.2em;
}

a, a:visited, a:hover {
  color: white;
}

.nyc-flair {
  font-style: italic;
}

.content {
  max-width: 800px;
  margin: auto;
  padding:1em;
}

p:first-child {
  margin-top: 0;
  font-size: 1.2em;
  line-height: 1.24em;
}

p:last-child {
  margin-bottom: 0;
}

.break {
  height: 0.5em;
  display: none;
}

.break-1 {
  /*background-color: #c4aae8;*/
}

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
}

.main .intro {
}

.section {
  padding-bottom: 1em;
}

.section:last-child {
  padding-bottom: 0;
}

h2 {
  color: #ec4b4b;
}

.header {
  background-color: #252f39;
  text-align: center;
  text-decoration: none;
  display: block;
}

.header .content .title {
  color: #ec4b4b;
  margin-top: -5px;
  line-height: 0.8em;
}

.invite {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #ec4b4b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
